.candidates {
  display: flex;
  flex-direction: column;
  width: 35%;
  // background-color: #fff;

  .candidates-header {
    text-align: center;
  }

  .candidate-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    h3 {
      width: 80%;
      background-color: rgb(160, 160, 185);
      text-align: center;

      &:hover {
        background-color: #c6c6da;
      }
    }
  }
}
